# OS file
desktop.ini

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Node modules
node_modules/

# Test coverage
coverage/

# Logs
*.log
npm-debug.log*

# Temporary files
.tmp/
temp/

# npm files
/package.json
/package-lock.json
/playwright.config.js

